.sec1:hover {
    background-color: #cc251d;
    transition: 0.75s;
}
.oran:hover {
    background-color: #cc251d;
    transition: 1.25s;
}
.kalinbaslik {
    font-weight: bolder;
}
.cerceve1 {
    border: 3px inset black;
}
.kalinbaslik1 {
    font-weight: bolder;
    padding-top: 15px;
}
.altbosluk {
    margin-bottom: 55px;
}
.uzunbosluk {
    margin-top: 30px; 
}
.solbosluk {
    margin-left: 0; 
}
@media (min-width: 768px) {
    .uzunbosluk {
        margin-top: 100px; 
    }
    .solbosluk {
        margin-left: 127.5px; 
    }
}